
<div class="container">
        <section class="slider_section">
            <div id="main_slider" class="carousel slide banner-main mb-3" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <center><img class="first-slide" src="~/images/slider1/slider1.jpg" alt="First slide"></center>
                        <div class="container">
                            <div class="carousel-caption relative">
                                <h1>
                                    Son <br> <strong class="black_bold">Kalan </strong><br>
                                    <strong class="yellow_bold">Ürünler </strong>
                                </h1>
                                <p>
                                    En uygun fiyatlarla <br>
                                    bütün kıyafetler burada
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <center><img class="second-slide" src="~/images/slider2.jpg" alt="Second slide"></center>
                        <div class="container">
                            <div class="carousel-caption relative">
                                <h1>
                                    Birbirinden <br> <strong class="black_bold">Renkli </strong><br>
                                    <strong class="yellow_bold">Parçalar </strong>
                                </h1>
                                <p>
                                    Kaliteli ve renkli kumaşlar... <br>
                                    Çok seveceksiniz
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <center><img class="third-slide" src="~/images/slider3.jpg" alt="Third slide"></center>
                        <div class="container">
                            <div class="carousel-caption relative">
                                <h1>
                                    Tarzınızı <br> <strong class="white_bold">Her yere </strong><br>
                                    <strong class="yellow_bold">Yansıtın </strong>
                                </h1>
                                <p>
                                    İçiniz dışınıza yansısın... <br>
                                    Siyah ve beyazın eşsiz uyumu...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                    <i class='fa fa-angle-right'></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                    <i class='fa fa-angle-left'></i>
                </a>
            </div>

        </section>
   </div>
