@model ProductListWM
@{
    ViewData["Title"] = "ProductLists";
}
<div class="container">
    <h2>Admin Ürünler</h2>
</div>
<hr />
<div class="container">
    @if (Model.Products.Count() > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Ürün Id</td>
                    <td>Ürün Resmi</td>
                    <td>Ürün Adı</td>
                    <td>Ürün Fiyatı</td>
                    <td>Seçenekler</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <img src="~/images/@item.Image" width="80" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>
                            <a class="btn btn-primary btn-sm mr-2 btn-dark" href="~/admin/products/@item.Id">Düzenle</a>
                            <form action="/admin/deleteproduct" method="post" style="display:inline;">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                            </form>

                        </td>
                    </tr>

                }

            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning">
            <h4>Ürün Yok</h4>
        </div>
    }
</div>



